# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\atelier\Kotlin\ProcessingForKotlinTemplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
